<div  fxHide.lt-md>

<div fxLayout style="background-color: black;">
  <section  >
    <img class="logoimg" src="assets/Images/logo.JPG" />
  </section>
</div>
<div fxLayoutAlign="center" style="padding: 30px;">
  <section class="heading" >About us</section>
</div>

<div fxLayout="column" fxLayoutGap='10px' style="padding-bottom: 25px; background-color:rgb(240, 235, 243)" >
  <section class="content" >

    The <b>Smile Store Dental Clinic</b> welcomes you as a patient. We Use latest technology to offer excellent dental care to provide a
    pleasant stress free experience.  Our goal is to help our patient achieve optimal health care and to create beautiful smile.
     Being a multi-speciality dental clinic, our mavens span across different areas of dentistry right from endodontists to implant
     experts, paediatric dentistry (pedodontist), orthodontists, orofacial pain specialists, as well as smile designers and dental s
     urgeons. Whether it is a smile correction treatment or root canal treatment, tooth whitening, and much more, we provide you with
     the right action for all your dental problems.
    <br><br>
     We are one of the <b>Best dental clinic</b> with a team of well qualified and highly experienced team of dentist and surgeons.
      We incorporate skill, experience and technology under one roof.   The work of our highly skilled doctors of varying
      disciplines of dentistry, coupled with the use of the latest equipment and technologies ensures that each patient is
      treated with the highest standard. Our complete team functions with sole purpose of ensuring complete patient care and
      satisfaction, and this dedication is what always set us apart from our counterparts. We take special care of the infection
     control and have a strict protocol for sterilization to ensure impeccable service to all of our patients.
</section>
</div>
<br>
<div
    style="padding: 20px; background-color: beige;"
    fxLayout
    fxLayoutGap:20px
  >
    <section style="padding-left: 150px;">
      <div>
        <p style="font-size: 40px; text-align: left;">
          <b>Our Principles</b>
        </p>
        <div style="font-size: 20px;">
          <br>
          We, The Smile Store Dental Clinic have pledge to take care of people that we love.
          <br><br />
          <img class="icon" src="assets\Images\care.png" /> Affordable Care<br /><br />
          <img class="icon" src="assets\Images\docteam.png" /> Amazing Team <br /><br />
          <img class="icon" src="assets\Images\equipment.png" />The Best Equipment <br /><br />
        </div>
      </div>
    </section>
    <section >
      <img class="circle" src="assets\Images\main.JPG"  style="width: 70%; "/>
    </section>
  </div>

</div>





<!-- mobile -->
<div fxLayout="column" fxHide.gt-md style="background-color:rgb(240, 235, 243)">
  <div fxLayoutAlign="center" style="padding: 10px;" fxHide.gt-md>
    <section style="color: #001B94; font-size: 40px; padding: 10px;" >About us</section>
  </div>
  <section>
    <img src="assets/Images/logo.jpg" style="width: 100%; border-radius: 50%;" />
  </section>
  <section style="padding: 10px;">
      <p>We are <b>proud </b>to announce the Compnay that enjoys making challenging tasks possible in Sourcing business, who has taken traditional
        import-export companies by storm.
      </p>

       <br>We are
       <ul>
         <li>team of young,</li>
         <li>experienced,</li>
         <li>dynamic individuals</li>
       </ul>
          who has not just achieved <b>new heights</b>
       on their respective careers but <i>also known terms dynamic, market insights,client management and sourcing knowledge.</i>

     <br><p>We are expoting and Sourcing partners for many commodities like <b>Agriculture,Spices,and Food etc.</b></p>

     <br>
     We live,breath and smell commodities. Being in direct contact with manufacturers ,Mill Owners and Mandates
     we are able to present commodities at the lowest possible rate without compromising quality standards adn timeline.<br>
     <b>Our working quality is very Simple:</b>
     <ul>
       <li>Quality, </li>
       <li>Best rate,</li>
       <li>Reliability </li>
       <li>and Performance.</li>
     </ul><br>

 </section>


</div>
